<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DaoProject</display-name>
  <welcome-file-list>
    <welcome-file>HomePage</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>400</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/404.html</location>
  </error-page>
  <servlet>
    <servlet-name>vertify</servlet-name>
    <servlet-class>com.goli.heroben.servlet.StartCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vertify</servlet-name>
    <url-pattern>/Vertify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendcode</servlet-name>
    <servlet-class>com.goli.heroben.servlet.VerifyGetCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendcode</servlet-name>
    <url-pattern>/SendCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadhead</servlet-name>
    <servlet-class>com.goli.heroben.servlet.HeadImgUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadhead</servlet-name>
    <url-pattern>/UploadHead</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadinfo</servlet-name>
    <servlet-class>com.goli.heroben.servlet.RegeistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadinfo</servlet-name>
    <url-pattern>/Regeist</url-pattern>
  </servlet-mapping>
</web-app>